name: Build

on:
  workflow_call: {}

jobs:
  build:
    strategy:
      matrix:
        arch:
          - amd64
        os:
          - linux
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.os }}
      GOARCH: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Create dist dir
        run:
          mkdir dist

      - name: Build
        run: make build

      - name: Test
        run: go test -v ./...
