---
name: Pre-commit auto-update
on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 1 * * # Every first day of the month at 08:00 UTC
jobs:
  auto-update:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.13"
          cache: pip

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit autoupdate
        run: pre-commit autoupdate

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          body: Update pre-commit tools to the latest version
          branch: auto-update-pre-commit-hooks
          commit-message: Auto-update pre-commit hooks
          labels: dependencies
          sign-commits: true
          title: Auto-update pre-commit hooks
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
